.titulo {
    text-align: center;
    font-family: 'verdana';
}

.centertext {
    text-align: center;
}


.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.dashboard {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.predict {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    height: 200px;   
}


.next-week {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    height: 120px;   
    //width: 560px;
}

.gauge {
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    height: 120px;   
    width: 120px;
}


.main-div {
    opacity: 0.0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    height: 800px;
    box-shadow: 2px 2px 2px #777777;
}

.top-margin { margin-top:20px; }
.left-margin { margin-left:20px; }

.box {
    padding: 0 5px 0 5px;
}

.short-div {
  height:180px;
}

.long-div {
  height:360px;
}

.small-chart {
  height:65px;
  width:230px;
}

.pos-absolute {
    position: absolute;
}

.heatmap {
    position: absolute;
    width:700px; 
    height:249px;
}


#heatmapContainer {
    height: 100%;   
    width: 100%;    
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#floor-plan {
    height: 100%;   
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


#allbesmart-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.0;
}
